body{PADDING-RIGHT:0px;PADDING-LEFT:0px;FONT-SIZE:12px;PADDING-BOTTOM:0px;MARGIN:0px;PADDING-TOP:0px;FONT-FAMILY: "微软雅黑", "宋体","黑体",Verdana, Arial, Helvetica, sans-serif;
line-height:20px; background: url(../images/ind_14.jpg) repeat;}
table{ margin:0 auto;border-spacing:0;border-collapse:collapse; }
img{border:0;}
ol,ul,li{padding:0px;margin:0px;list-style-type:none;}
caption,th {text-align:left;}
form,ul,li,h1,h2,h3,h4,h5,h6,p,dl,dd,dt.input{margin:0px;padding:0px;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;} 
A:link,A:visited{TEXT-DECORATION:none; }
A:hover { TEXT-DECORATION:none; color:#900;}
a{color:#333333;}
.clear {clear:both; height:0; line-height:0; overflow:hidden;}
.top{ height:151px;  border-top:10px solid #c3130f; width:100%; min-width:1200px; background:#dbdcdc}
.logo{ width:1200px; height:151px; background:url(../images/ind_05.jpg) right no-repeat; margin:0 auto;}
.logoimg{ width:487px; height:77px; float:left;}
.nav{ height:48px; background:#666666; width:100%; min-width:1200px;}
.navc{ width:1200px; margin:0 auto; width:1200px;}
.navrr{ width:303px; height:41px; background:#c3130f; padding:7px 15px 0px 15px; float:right;}
.navrss{ width:266px; float:left; height:31px;float:left;}
.navrss input{ width:266px; height:30px; min-height:30px;background:#fff; border:1px solid #fff;}
.navb{ width:35px; height:39px; float:left;}
.navlf{ width:800px; float:left; height:48px;}
.navlf li{ font-size:16px; width:133px; float:left; text-align:center; line-height:48px;}
.navlf li a{ color:#fff; display:block;}
.navlf li a:hover{ background:#c3130f;}
.navlfa{background:#c3130f;}
.contw{ width:100%; margin:0 auto; background:url(../images/ind_35.jpg) bottom center no-repeat;min-width:1200px;}
.contt{ width:1160px; margin:0 auto; background:#fff; padding:10px 20px; height:auto;}
.coimg{ height:260px; width:100%; margin-top:10px 0px;}
.cob367{ height:350px; background:#fbfbfb; width:1160px; margin:0 auto;padding:10px 20px 20px 20px;  }
.coblf{ width:48%; height:330px; float:left; padding-top:10px;}
.rign{ width:250px; float:right; height:30px; background:#c21310;}
.rign li{ float:left; height:30px; line-height:30px; padding:0 8px;FONT-SIZE:16px;color:#fff;}
.rign li a{ color:#fff; }

.cont{padding:0px;}
.hidden{display:none;}
.scrolldoorFrame{width:100%;overflow:hidden;}
.scrollUl{width:100%;overflow:hidden;height:40px; margin:0 auto; background:url(../images/ind_12.jpg) bottom repeat-x;}
.scrollUl li{float:left;}
.sd01{cursor:pointer; width:100px; background: url(../images/ind_110.jpg) bottom repeat-x;height:40px; line-height:40px; text-align:center; font-size:16px; color:#000000; }
.sd02{cursor:pointer;width:100px;  height:40px; line-height:40px;text-align:center; font-size:16px; color:#000000; }

.xxtu{ width:100%; height:95px; margin:0 auto; padding:10px 0px;}
.xxtu li{ width:50%; text-align:center; float:left; height:95px;}

.kklis{ width:100%; height:auto; padding-top:10px;}
.kklis li{ line-height:33px;  text-align:right; background: url(../images/ind_21.jpg) left center no-repeat; font-size:14px;}
.kklis li a{ text-align:left; float:left; line-height:33px; text-indent:20px;}
.cobrr{ width:48%; height:280px; float: right; padding-top:10px;}

.ged{position:absolute; top:-28px; right:0px; font-size:14px;}


.tzgg{  height:280px; background:#fff; width:1160px; margin:0 auto;padding:10px 20px;}

.tzgglf{ width:790px; float:left; height:280px; padding-top:10px;}
.taz_780{ width:570px; float:left; height:auto;}
.sx{ width:188px; height:186px; float:right;padding-top:20px;}

.sxlis{ width:100%; height:auto; padding-top:20px; }
.sxlis li{height:35px;height:41px; color:#000; font-size:14px;}
.sxlis li span{ background:#c2c2c2; color:#000; margin-right:10px; font-size:12px;padding:5px 10px;  }
.sxlis li em{ background:#545556; color:#fff; padding:5px 10px; font-size:12px;}

.scrollUlq{width:100%;overflow:hidden;height:40px; margin:0 auto; background:url(../images/ind_12.jpg) bottom repeat-x;}
.scrollUlq li{float:left;}
.sdq01{cursor:pointer; width:90px; background: url(../images/ind_033.jpg) bottom repeat-x;height:40px; line-height:40px; text-align:center; font-size:16px; color:#000000; }
.sdq02{cursor:pointer;width:90px;  height:40px; line-height:40px;text-align:center; font-size:16px; color:#000000; }
.gedf{position:absolute; top:-28px; right:-210px; font-size:14px;}
.wsbm{ width:295px; height:222px; float:right; margin-top:25px; padding-top:15px; border-left:1px solid #d9d9da; padding-left:35px;}
.wsbmimg{width:295px; height:73px; margin-bottom:20px;}
.wsbmimgb{width:295px; height:30px;}
.bott{ width:100%; height:106px; background:#666666; min-width:1200px;}
.bottc{ width:1160px; margin:0 auto;  padding:16px 20px 10px 20px; height:auto;}
.bottclf{ width:600px; float:left; line-height:30px; color:#fff; font-size:14px; }
.boter{ width:150px; height:79px; float:right; color:#fff;}
.boterimg{ width:79px; height:79px; float:left;}
.borgit{ width:60px; float:right; line-height:35px; color:#fff; line-height:35px;}

.rjym{  min-height:500px; background:#fff; width:1160px; margin:0 auto;padding:30px 20px;}
.rjymlf{ width:220px; float:left; height:auto;}
.rjymrr{ width:900px; float:right; height:auto;}

.lan{ height:50px; background:#c3130f; color:#fff; font-size:20px; text-align:center; line-height:50px;}
.laner{ height:40px; font-size:16px; text-indent:20px;  line-height:40px; background:url(../images/ind_21.jpg) left center no-repeat; margin-top:10px; border-bottom:2px solid #c3130f;}
.laner a{color:#c3130f;}
.lane{ height:40px; font-size:16px; text-indent:20px;  line-height:40px; background:url(../images/ind_21.jpg) left center no-repeat; margin-top:10px; border-bottom:2px solid #4d4d4d;}
.lane a { display:block;}
.lane a:hover{ border-bottom:2px solid #c3130f; color:#c3130f;}

.daq{ height:50px; background:url(../images/ind_12.jpg) bottom repeat-x; line-height:50px; width:100%;}
.daqaa{ font-size:20px; float:left; line-height:50px; min-width:120px; text-align:center; background:url(../images/ind_033.jpg) bottom repeat-x;}
.daqaar{ float:right; width:500px; text-align:right; line-height:50px;}
.fany{ height:40px; text-align:center; text-align:center;}

.zhcont{ width:98%; margin:0 auto; line-height:30px; font-size:14px; padding:20px 0px;}
.zhcont p{ text-indent:28px; padding-bottom:10px;}
.cont{ height:auto; width:98%; margin:0 auto;}
.conttit{ font-size:25px; text-align:center; font-size:30px; line-height:50px; padding:10px 0px;}
.contcon{ width:98%; margin:0 auto; line-height:30px; font-size:14px; padding:20px 0px;}
.contcon p{ text-indent:28px; padding-bottom:10px;}
.contcon table p { text-indent:0px;padding-bottom:0px;}



.conshij{ height:40px; line-height:40px; text-align:center; border-bottom:1px dashed #ccc;}






